@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Jetbrains Mono', sans-serif;

}

body {
    background-color: rgba(0, 0, 0, 0.784);
    background-image: url('../../img/backgroundstreched.jpg');

}

#container {
    width: fit-content;
    margin: 0 auto;
    border: 1px solid #000000;
}


/* Navbar Begin */

ul {
    list-style-type: none;
}

.wrapHead {
    width: 90%;
    margin: 0 auto;
    transition: all ease-in-out 0.5s;
}

.wrapHead.fixed-to-top {
    width: 96%;
}

#header {
    position: fixed;
    width: 100%;
    background: rgba(38, 50, 56, 0.5);
    padding: 10px 0;
    z-index: 1;
    transition: all ease-in-out 0.5s;
}

#header:after {
    content: "";
    display: block;
    clear: both;
}

#header.fixed-to-top {
    background: rgba(38, 50, 56, 1);
}

#brand {
    color: #ccc;
    float: left;
}

#brand h1 {
    letter-spacing: 10px;
    text-shadow: 2px 2px 5px #111;
}

nav {
    float: right;
    margin-top: 10px;
}

nav li {
    display: inline-block;
    margin: 0 4px;
}

nav li a {
    padding: 10px 0;
    text-decoration: none;
    color: #e1e1e1;
    transition: all ease-in-out 0.5s;
}

nav li a:hover {
    color: #bbb;
}

/* Navbar Einde */


/* Section Begin */

section {
    z-index: 0;
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section h2 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 10px 10px 3px rgba(0, 0, 0, 0.2);
}

section .container-2 {
    margin: 100px;
}

section #h1 {
    font-size: 3rem;
    margin: 20px;
    color: white;
}

section #h2 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

section .text-container {
    display: flex;
}

section .text-container .text-box {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 20px;
}

section .text-container .text-box {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

section .text-container .text-box3 {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 20px;
}

section .text-container .text-box3 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-right: 100px;
}


/* Section Einde */


/* Header Begin */

header {
    background-size: cover;
    text-align: end;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 1516px;
    height: 720px;
    font-size: 800;
}

header img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 10px solid #fff;
    margin-right: 5%;
    margin-top: 10%;
}

header img:hover {
    transition: 0.70s;
    transform: rotate(360deg);
}

/* Header Einde */


/* TextSlide Begin */

.text-0 {
    margin-top: -250px;
    text-align: start;
    margin-left: 5%;
    color: #fff;
    font-size: 3em;

    background: rgb(144, 143, 159);
    background: linear-gradient(90deg, rgba(144, 143, 159, 1) 0%, rgba(255, 255, 255, 1) 60%, rgba(144, 143, 159, 1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.text-1 {
    padding-top: 30px;
    text-align: start;
    margin-left: -20%;
    margin-top: 202px;
    animation-name: anim-1;
    color: #fff;
}

.text-2 {
    padding-top: 30px;
    text-align: start;
    margin-left: -20%;
    margin-top: 202px;
    animation-name: anim-2;
    color: #fff;
}

.text-3 {
    padding-top: 30px;
    text-align: start;
    margin-left: -20%;
    margin-top: 202px;
    animation-name: anim-3;
    color: #fff;
}


.text-1,
.text-2,
.text-3 {
    position: absolute;
    display: block;
    top: 2em;

    width: 45%;

    font-size: 2.1em;

    animation-duration: 18s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

/* TextSlide Einde */

.gradient-text {
    background: rgb(144, 143, 159);
    background: linear-gradient(90deg, rgba(144, 143, 159, 1) 0%, rgba(255, 255, 255, 1) 60%, rgba(144, 143, 159, 1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

/* Cards Begin */

.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image""text""stats";

    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    font-family: roboto;
    text-align: center;

}

.card2 {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image""text""stats";

    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    font-family: roboto;
    text-align: center;
}

.card-image {
    grid-area: image;
}

.card-text {
    grid-area: text;
}

.card-stats {
    grid-area: stats;
}

.card-image {
    grid-area: image;
    background: url(../../img/schaakbord.png);
    background-color: #000;
    background-position: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: contain;
    background-repeat: no-repeat;
}

.card-image2 {
    grid-area: image;
    background: url(../../img/muursteentjes.png);
    background-position: fixed;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: contain;
    background-repeat: no-repeat;
}

.card-text {
    grid-area: text;
    margin: 25px;
    text-align: center;
}

.card-text .date {
    color: rgb(255, 7, 110);
    font-size: 13px;
}

.card-text p {
    color: grey;
    font-size: 15px;
    font-weight: 300;
}

.card-text h2 {
    margin-top: 0px;
    font-size: 28px;
}

.card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.card {
    transition: 0.9s ease;
    cursor: pointer;
    margin: 30px;
}

.card2:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.card2 {
    transition: 0.9s ease;
    cursor: pointer;
    margin: 30px;
    text-align: center;
}

/* Cards Einde */


/* Content Begin */

#content {
    color: white;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
}

#content h2 {
    color: black;
    text-align: center;
    padding-bottom: 20px;
    margin-left: 20px;
}

#content #intro {
    padding-top: 20px;
}

#content #overig {
    padding-top: 20px;
}

#content #kennis {
    padding-top: 20px;
}

#content #kennis ul {
    padding-left: 15px;
}

/* Content Einde */


/* OverMezelf Begin */

section #overMezelfPage {
    text-align: center;
}

#overMezelfPage #overMezelfh h1 {
    padding: 30px;

    color: white;
    font-size: 2.3rem;
}

#mezelf {
    margin-bottom: 200px;
}



/* Experimental Begin */

#h2-2 {
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    color: white;
    padding-right: 50px;
}

#video {
    width: 1045px;
    height: 587.81px;
    padding: 20px;
}

/* Experimental Einde */


/* HTML, CSS & JAVASCRIPT Begin */

.reveal {
    position: relative;
    opacity: 0;
}

.reveal.active {
    opacity: 1;
}

.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}

.active.fade-left {
    animation: fade-left 1s ease-in;
}

.active.fade-right {
    animation: fade-right 1s ease-in;
}

/* HTML, CSS & JAVASCRIPT Einde */


/* Footer Begin */

#footerColor {
    background-color: #101419;
    opacity: 72%;
    height: 93px;
}

#footer {
    color: #fff;
    text-align: center;
    padding-top: 0px;
}

#footer #footerText {
    padding-top: 18px;
    padding-left: 20px;
}

#footer ul {
    display: block;
}

#footer ul li {
    display: inline-block;
}

#footer ul li a {
    padding: 10px;
}

/* Footer Einde */


/* Keyframes Begin */
/* SlideText Keyframes */

@keyframes anim-1 {

    0%,
    8.3% {
        left: -120%;
        opacity: 0;
    }

    8.3%,
    25% {
        left: 25%;
        opacity: 1;
    }

    33.33%,
    100% {
        left: 40%;
        opacity: 0;
    }
}

@keyframes anim-2 {

    0%,
    33.33% {
        left: -100%;
        opacity: 0;
    }

    41.63%,
    58.29% {
        left: 25%;
        opacity: 1;
    }

    66.66%,
    100% {
        left: 70%;
        opacity: 0;
    }
}

@keyframes anim-3 {

    0%,
    66.66% {
        left: -100%;
        opacity: 0;
    }

    74.96%,
    91.62% {
        left: 25%;
        opacity: 1;
    }

    100% {
        left: 40%;
        opacity: 0;
    }
}


@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Keyframes Einde */